@charset "utf-8";

/*reset*/
*{margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
a {color: inherit; text-decoration: none;}
li {list-style: none;}
address, em , i {font-style: none;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;}
a:hover {text-decoration: none; color: inherit;}
button {border: none;background: none;cursor: pointer;}

/*layout*/
.wrap {width: 100%;height: 100%;}
.en {font-family: 'Libre Baskerville', serif;}
.txt{font-family: 'NanumSquare', sans-serif !important; }
.mainTit {font-family: 'Libre Baskerville', serif;}


/*menuOpen*/
.menuOpen button.open {position: fixed;right: 5%;top:3%;z-index:300; }
/*menuWrap*/
.menuOpen .menuWrap {width: 100%;height: 100vh;position: fixed;top: 0;right: 0;z-index:10000;background: #eee;}
.menuOpen .menuWrap .close {position: absolute;top:35px;right: 100px;}
.menuOpen .menuWrap .menu {width: 20%;height: 100vh;float: left;position: relative;z-index: -9999;}
.menuOpen .menuWrap .menu:hover,.menuOpen .menuWrap .menu:focus {background: #ddd;}
.menuOpen .menuWrap .menu a {display: block;position: absolute;left: 28%;top: 40%;color: #333;}
.menuOpen .menuWrap .menu a span {font-size: 50px;}
.menuOpen .menuWrap .menu a span:hover,.menuOpen .menuWrap .menu a span:focus{transform: translateX(30px); color: #848484;}
.menuOpen .menuWrap .menu a span:before {content: '';width: 0;height: 35px;background:#fff;position: absolute;bottom: -5px;transition: all 0.4s;z-index: -100;}
.menuOpen .menuWrap .menu a span:hover:before,.menuOpen .menuWrap .menu a span:focus:before {width: 100%;}
/*menu open*/
.menuOpen .menuWrap {width: 0;transition: 0s;overflow: hidden;opacity: 0;}
.menuOpen .menuWrap.on {width: 100%;right: 0; transition: all 0.5s; opacity: 1;}
.menuOpen .menuWrap .menu{display: none;}
.menuOpen .menuWrap.on .menu {display: block;}
/*header*/
header { width: 100%;height: 90px;line-height: 90px;margin: auto;position: fixed;top: 0;left: 0; padding: 0 100px; box-sizing: border-box;z-index:200; background: #fff}
.innerHeader {width:100%; height: 100%;overflow: hidden;}
.innerHeader .logo {float: left;padding-top: 10px;}
.innerHeader .logo img {width:90%;}
.innerHeader .gnbBtn {display: block; float: right; width: 40px;height: 5px;position: relative; margin-top: 45px;transition: all 0.4s;z-index: 1;}
.innerHeader .gnbBtn span {background: #000;width: 100%;height: 2px;position: absolute;right: 0;top: 0;display: block; }
.innerHeader .gnbBtn span.a {top: 12px;}
.innerHeader .gnbBtn span.b {border: 0;}
.innerHeader .tnb {float: right;}
.innerHeader .tnb li {float: left; display: inline-block; margin-right: 100px;font-size: 18px;font-family: 'Nunito Sans', sans-serif;font-weight: 600;}
.innerHeader .tnb li a {display: block; position: relative;}
.innerHeader .tnb li a:after {content: '';width: 0;height: 1px; position: absolute; background: #c6c78c;top: 68%;left: 5%;transition: all 0.3s;}
.innerHeader .tnb li a:hover:after,.innerHeader .tnb li a:focus {width: 100%;}
/*header on*/
header.on .innerHeader{height: 65px;transition: all 0.4s;}
header.on .innerHeader .logo {transition: all 0.4s;padding: 0 100px;}
header.on .innerHeader .logo a img {width: 50%;}
header.on .innerHeader .tnb li {height: 60px;line-height: 60px;transition: all 0.4s;margin-top: 15px;font-size: 15px;}


/*contact*/
section.contact {width: 100%;margin: auto; margin-top: 100px;position: relative; overflow: hidden;}
section.contact .inner {width: 1400px;height: 100%;margin: 0 auto;}
section.contact .inner .mainTit {font-size: 50px;position: absolute; right: 30%;top: 25%; color: #848484;}
section.contact .inner .Box {float: left;width: 100%;padding-left: 140px;}
section.contact .inner .Box img {width: 40%;}
section.contact .inner .Box img img {width: 100%;}
section.contact .inner .content {float: right;width: 50%;position: absolute; left:54%;top:50%; transform: translate(-50%,-50%); margin-left:600px;font-size:20px;font-family: 'Nunito Sans', sans-serif;padding-top: 90px}
section.contact .inner .content .nameform {margin-bottom: 20px;}
section.contact .inner .content .nameform .name { outline: none;border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #848484;width: 230px;}
section.contact .inner .content .emailform {margin-bottom: 30px;}
section.contact .inner .content .emailform .email {outline: none;border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #848484;width: 230px;}
section.contact .inner .content .messageform {margin-bottom: 20px;}
section.contact .inner .content .messageform .message {width: 24%;height: 150px;border: 1px solid #848484;border-radius: 8%;font-family: 'Nunito Sans', sans-serif;padding: 5px 10px; box-sizing: border-box;}
section.contact .inner .send {display: block;padding-top: 20px; position: absolute; left:10%;top: 92%;color: #333;font-size: 18px;}
section.contact .inner .send:before {content: ''; width: 30px;height: 8px;background: #fff;position: absolute;left: 2%;bottom: 5%;z-index: -100;}
section.contact .inner .send:hover:before,section.contact .inner .mainButton:focus:before {width: 100%;background: #fb9958;transition: 0.5s;}

/*footer*/
footer{width: 100%;height: 100px;background: #484848;}
footer p {text-align: center; padding-top: 50px;color: #fff;font-size: 12px;font-family: 'Prata', serif;}