@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

 

/*layout*/
.wrap{width: 100%; margin: 0 auto; overflow: hidden;}
header {width: 100%;}
.innerHeader{width: 1400px; margin: 0 auto; overflow: hidden;position: relative;}
.innerHeader .logo { position: absolute; left:50%;transform: translateX(-50%); top: 20px;}

/*top*/
.innerHeader .top{width: 100%;height: 80px;line-height: 80px; overflow: hidden;}
.innerHeader .top .tnb{float: right; overflow: hidden;font-size:14px;}
.innerHeader .top .tnb li{float: left; }
.innerHeader .top .tnb li + li:before{content: '|'; margin: 0 15px;}
.innerHeader .top .tnb li:last-child{margin-right: 0;}
.innerHeader .top .gnb {float:left;position: relative; left: 50%; transform: translateX(-50%);}


/*bottom*/
.innerHeader .bottom {width: 100%;height: 50px;line-height: 50px;border-top: 1px solid #ddd}
.innerHeader .bottom ul.gnb {width: 100%;overflow: hidden;}
.innerHeader .bottom ul.gnb li {float: left; width: 16%;font-size: 23px;font-weight: bold;}
.innerHeader .bottom ul.gnb li:hover,.innerHeader .bottom ul.gnb li:focus {color: #ccc;}
.innerHeader .bottom ul.gnb li:nth-child(1){width: 15%;}
.innerHeader .bottom ul.gnb li:nth-child(4){width: 15%;}
.innerHeader .bottom ul.gnb li:nth-child(5){width: 12%;box-sizing: border-box;}
.innerHeader .bottom ul.gnb li:nth-child(6){width: 14%; padding-left: 25px; box-sizing: border-box;}
.innerHeader .bottom ul.gnb li:nth-child(7){width: 8%;text-align: right;}



/*section.visual*/
section.visual {width: 100%; margin: 0 auto; }
section.visual .inner {width: 1400px; margin: 0 auto;}
section.visual .inner p.img {width: 100%;}
section.visual .inner p.img img{width:100%; margin: 0 auto;}
section.visual .inner .ul {width: 100%; overflow: hidden; }
section.visual .inner ul li { width: 25%; float: left;margin: 0 auto;text-align: left;margin-top: 25px;border-right: 1px solid #ddd;box-sizing: border-box; padding-left: 25px }
section.visual .inner ul li p.area{ font-size: 20px;font-weight: bold;}
section.visual .inner ul li p.date {font-size: 20px;}
section.visual .inner ul li a i {display: inline-block;margin-left: 50px;}
section.visual .inner ul li:nth-child(1) p.area {color: red;}
section.visual .inner ul li:nth-child(2) p.area {color: #26d926;}
section.visual .inner ul li:nth-child(3) p.area {color: deepskyblue;}
section.visual .inner ul li:nth-child(4) p.area {color: coral;}


/*section.edu*/
section.edu {width: 100%; margin: 0 auto;}
section.edu .inner {width: 1400px; margin: 0 auto; overflow: hidden;text-align: center;padding-top: 90px;}
section.edu .inner h1 {font-size: 30px; border-bottom: 1.5px solid #ffb34c;padding-top: 60px;width: 150px; margin: 0 auto 30px;margin-bottom: 50px;}
section.edu .inner p.icon {display: block; box-sizing: border-box;float: right;font-size: 13px;font-weight: bold;margin-bottom: 20px}
section.edu .inner .list {width: 100%;overflow: hidden;}
section.edu .inner .list li{width: 25%;float:left; font-size: 18px;margin-top: 30px;border-right: 1px solid #ddd;box-sizing: border-box;padding-left: 25px;line-height: 1.5;text-align: left;}
section.edu .inner .list li p  {float: left;}
section.edu .inner .list li p b {font-size: 20px;}
section.edu .inner .list li p b:hover,section.edu .inner .list li p:focus {border-bottom: 1px solid #000;}

/*section.event*/
section.event {width: 100%; margin: 0 auto;}
section.event .inner {width: 1400px; margin: 0 auto; overflow: hidden;text-align: center;padding-top: 90px; }
section.event .inner h1 {font-size: 30px; border-bottom: 1.5px solid #ffb34c;padding-top: 60px;width: 150px; margin: 0 auto 30px;margin-bottom: 50px;}
section.event .inner p.icon {display: block; box-sizing: border-box;float: right;font-size: 13px;font-weight: bold;margin-bottom: 20px;}
section.event .inner .list {width: 100%;overflow: hidden;}
section.event .inner .list li {width: 23.35%; margin-right: 2.20%; float: left;text-align: left; }
section.event .inner .list li a {display: block; width: 100%;height: 100%;}
section.event .inner .list li a p {font-size: 15px; word-spacing: -1px;line-height: 1.6;padding-top: 5px;}
section.event .inner .list li a p span {font-weight: bold;}
section.event .inner .list li  a p span:hover,section.event .inner ul.list li p span:focus {border-bottom: 1px solid #000;}
section.event .inner .list li:last-child { margin-right: 0; }
section.event .inner a p.img {width: 100%;}
section.event .inner a p.img img {width: 100%; transition: all 0.5s}
section.event .inner a:hover p.img img,section.event .inner a:focus p.img img:focus {transform: scale(0.9);transition: all 0.5;opacity: 0.8;}

/*section.keep*/
section.keep {width: 100%;padding: 80px 0;}
section.keep .inner {width: 1400px; margin: 0 auto; overflow: hidden;text-align: center;padding-top: 90px;}
section.keep .inner h1 {font-size: 30px; border-bottom: 1.5px solid #ffb34c;padding-top: 70px;width: 150px; margin: 0 auto 30px;margin-bottom: 50px;}
section.keep .inner p.icon {display: block; box-sizing: border-box;float: right;font-size: 13px;font-weight: bold; margin-bottom: 20px;}
section.keep .inner ul.list {width: 100%;overflow: hidden;margin-bottom: 150px;}
section.keep .inner ul.list li {width: 23.35%; margin-right: 2.20%; float: left;text-align: left; }
section.keep .inner ul.list li p {line-height:1.5;font-size: 14px;}
section.keep .inner ul.list li p span {font-weight: bold;font-size: 18px;}
section.keep .inner ul.list li:nth-child(1){background: rgba(165, 165, 165, 0.19); }
section.keep .inner ul.list li:nth-child(2){background: rgba(165, 165, 165, 0.19); }
section.keep .inner ul.list li:nth-child(3){background: rgba(165, 165, 165, 0.19); }
section.keep .inner ul.list li:nth-child(4){background: rgba(165, 165, 165, 0.19); }
section.keep .inner ul.list li:last-child { margin-right: 0; }
section.keep .inner p.img {width: 100%;}
section.keep .inner p.img img {width: 100%;}

/*section. bottom*/
section.banner {background:rgba(165, 165, 165, 0.19); padding: 70px 0;}
section.banner .top {width:100%; text-align: center;}
section.banner .top table {width: 100%; border: 2px solid fff;}
section.banner .top table td {width: 350px;padding: 10px 10px;display: inline-block;box-sizing: border-box; font-size: 18px;font-weight: bold;border: 1px solid #fff;background: #fff; margin-bottom: 80px}
section.banner .top table td.title {background:coral; width: 100px; text-align: center;font-size: 18px;}
section.banner .top a {display: block; width: 50%;margin: 0 auto;padding-bottom: 120px;}
section.banner .top a img {width: 100%;}
section.banner .top a img img{width: 100%;}
section.banner .inner .bottom{width: 100%;float:left;background:rgba(35, 51, 74, 0.76);padding: 25px; box-sizing: border-box;}
section.banner .inner .bottom li {float: left; font-size: 21px; font-weight: bold; margin-left: 70px;color: #fff;font-size: 15px;}
section.banner .inner .bottom li a {display: block;}




/*section.footer*/
footer {width: 100%;background:  rgb(35, 51, 74)}
footer .inner {width: 1600px;margin: 0 auto;padding: 30px 15px; color: #ddd;overflow: hidden;}
footer .inner .leftBox {float: left;width: 20%;}
footer .inner .rightBox {float: right;width: 80%;line-height: 1.4;}
footer .inner .rightBox a {margin-right: 23px;}
footer .inner .rightBox p.img {margin-top: 15px}